APP_NAME=Scalable URL Shortener
ENV=development
DATABASE_URL=postgresql+psycopg://postgres:postgres@db:5432/url_shortener
REDIS_URL=redis://redis:6379/0
BASE_URL=http://localhost:8000
SHORT_CODE_LENGTH=7
